@page
@model             global_login.Pages.Account.Login.Index


<div class="card">
    <div class="card-header">
        <img src="../wwwroot/duende-logo.svg"/>
        <h2 class="title">Login</h2>
    </div>
    <div class="card-body">
        <form asp-page="/Account/Login/Index">
            <input type="hidden" asp-for="Input.ReturnUrl" />

            <div class="form-group">
                <div class="text-input">
                    <label asp-for="Input.Username"></label>
                    <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                </div>
                <div class="text-input">
                    <label asp-for="Input.Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                    <a href="#" class="text-primary">Forgot Password?</a>
                </div>
            </div>

            <button class="btn btn-primary btn-long" name="Input.Button" value="login">Login</button>
            <a href="#" class="text-primary">Sign in with SSO</a>

            @if (Model.View.VisibleExternalProviders.Any())
            {
                <div class="form-group">
                    <ul class="list-inline">
                        @foreach (var provider in Model.View.VisibleExternalProviders)
                        {
                            <li class="list-inline-item">
                                <a class="btn btn-secondary"
                                   asp-page="/ExternalLogin/Challenge"
                                   asp-route-scheme="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.Input.ReturnUrl">
                                    @provider.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this request.
                </div>
            }

        </form>
    </div>

</div>